body {
    font-family: "Oxygen";
    font-size: 14pt;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Cabin";
    font-size: 150%;
    padding: 0 0 0 0;
}

h4 {
    font-family: "Nerko One";
}

.blog-header {
    font-family: "Nerko One";
    font-size: 26pt;
}
.blog-subheader {
    font-family: 'Patrick Hand';
}